<ul id="slide-out" class="sidenav">
    <li><a class="waves-effect" href="/"><i class="material-icons">house</i>Start</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">today</i>Kalender</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">task</i>Aufgaben</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">attach_money</i>Abrechnung</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">mic</i>Sprachnachrichtenarchiv</a></li>
    <span class="sidenav-stick-bottom">
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="#"><i class="material-icons">settings</i>Einstellungen<span class="badge indigo white-text lighten-1">{{version}}</span></a></li>
	    <li>
            <a class="subheader clickable" href="https://github.com/niggiover9000/DasDashboard">
                <i class="material-icons">cloud</i>Das Dashboard © 2022</a>
        </li>
    </span>

  </ul>