<nav>
    <div class="nav-wrapper indigo">
        <a href="#" data-target="slide-out" class="sidenav-trigger sidenav-always-show"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo move-right-20">
          <i class="material-icons">cloud</i>
          <span class="hide-on-med-and-down">Das Dashboard</span></a>
      <ul id="nav-mobile" class="right">
        <li><a class="truncate" href=""><i class="material-icons left hide-on-med-and-down">account_circle</i>{{user}}</a></li>
        <li><a href="login"><i class="material-icons left">logout</i><span class="hide-on-med-and-down">Logout</span></a></li>
        </ul>
    </div>
</nav>